/* Google Font: Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@layer utilities {
    .font-inter {
        font-family: "Inter", sans-serif;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .bg-primary {
        background-color: rgba(26, 11, 46, 1);
    }

    .bg-secondary {
        background-color: rgba(35, 14, 61, 1);
    }

    .bg-card {
        background-color: rgba(53, 17, 101, 0.4);
    }

    .text-primary {
        color: rgba(255, 255, 255, 1);
    }

    .text-secondary {
        color: rgba(0, 255, 136, 1);
    }

    .btn-gradient {
        background: linear-gradient(47.64deg,
                rgba(247, 233, 63, 1) 0%,
                rgba(251, 9, 180, 1) 50%,
                rgba(145, 0, 248, 1) 100%);
    }

    @keyframes spin-slow {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .spin-slow {
        animation: spin-slow 2s linear infinite;
    }
}